<!-- wide slider -->

<div id="carousel-wrapper-wide">

  <div id="carouselwide" class="carousel slide" data-ride="carousel" data-wrap="false">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="card-deck">
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_375436.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">L'Ermite de Skellingar<br>Thorgal T37</h5>
              <p class="card-text">Yann - Vignaux</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">12,45€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_372090.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">« De toutes mes forces »<br>Les 5 Terres T1</h5>
              <p class="card-text">Lewelyn - Lereculey</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">15,50€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_377306.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dies irae<br>Harmony T5</h5>
              <p class="card-text">Mathieu Reynès</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">12,50€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_362631.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Le patient</h5>
              <p class="card-text">Timothé Le Boucher</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">25,00€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_366478.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Retour sur Aldébaran<br>Épisode 2</h5>
              <p class="card-text">Léo</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">13,00€</small>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card-deck">
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_370204.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Les Indes Fourbes</h5>
              <p class="card-text">Ayroles - Guarnido</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">34,90€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_373421.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Miss Bengalore<br>Le Château des Animaux T1</h5>
              <p class="card-text">Dorison - Delep</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">15,95€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_377557.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mise à jour<br>Sillage T20</h5>
              <p class="card-text">Morvan - Buchet</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">14,50€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_376690.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ombre-montagne<br>Le Serpent et la Lance T1</h5>
              <p class="card-text">Hub</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">24,95€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_374030.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jusqu'au dernier</h5>
              <p class="card-text">Félix - Gastine</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">17,90€</small>
            </div>
          </div>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselwide" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselwide" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

<!-- medium slider -->

<div id="carousel-wrapper-medium">

  <div id="carouselmedium" class="carousel slide" data-ride="carousel" data-wrap="false">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="card-deck">
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_375436.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Thorgal <br>Tome 37 : L'Ermite de Skellingar</h5>
              <p class="card-text">Yann et Fred Vignaux</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">12,45€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_372090.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Les 5 Terres <br>« De toutes mes forces »</h5>
              <p class="card-text">Lewelyn et Jérôme Lereculey</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">15,50€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_377306.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Harmony T5 <br>Dies irae</h5>
              <p class="card-text">Mathieu Reynès</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">12,50€</small>
            </div>
          </div>

        </div>
      </div>

      <div class="carousel-item">
        <div class="card-deck">

          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_362631.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Le patient</h5>
              <p class="card-text">Timothé Le Boucher</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">25,00€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_366478.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Retour sur Aldébaran<br>T2 Épisode 2</h5>
              <p class="card-text">Léo</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">13,00€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_370204.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Les Indes Fourbes</h5>
              <p class="card-text">Alain Ayroles et Juanjo Guarnido</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">34,90€</small>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card-deck">

          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_373421.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Le Château des Animaux <br>Tome 1 : Miss Bengalore</h5>
              <p class="card-text">Xavier Dorison et Félix Delep</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">15,95€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_377557.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sillage tome 20 <br> Mise à jour</h5>
              <p class="card-text">Morvan - Buchet</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">14,50€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_376690.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Le Serpent et la Lance</h5>
              <p class="card-text">
                Acte 1 - Ombre-montagne<br>
                Hub
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">24,95€</small>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card-deck">


          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_374030.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jusqu'au dernier</h5>
              <p class="card-text">Jérôme Félix et Paul Gastine</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">17,90€</small>
            </div>
          </div>
          <div class="card"></div>
          <div class="card"></div>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselmedium" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselmedium" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

<!-- small slider -->

<div id="carousel-wrapper-small">

  <div id="carouselsmall" class="carousel slide" data-ride="carousel" data-wrap="false">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="card-deck">
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_375436.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Thorgal <br>Tome 37 : L'Ermite de Skellingar</h5>
              <p class="card-text">Yann et Fred Vignaux</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">12,45€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_372090.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Les 5 Terres <br>« De toutes mes forces »</h5>
              <p class="card-text">Lewelyn et Jérôme Lereculey</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">15,50€</small>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card-deck">
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_377306.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Harmony T5 <br>Dies irae</h5>
              <p class="card-text">Mathieu Reynès</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">12,50€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_362631.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Le patient</h5>
              <p class="card-text">Timothé Le Boucher</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">25,00€</small>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card-deck">
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_366478.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Retour sur Aldébaran<br>T2 Épisode 2</h5>
              <p class="card-text">Léo</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">13,00€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_370204.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Les Indes Fourbes</h5>
              <p class="card-text">Alain Ayroles et Juanjo Guarnido</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">34,90€</small>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card-deck">
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_373421.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Le Château des Animaux <br>Tome 1 : Miss Bengalore</h5>
              <p class="card-text">Xavier Dorison et Félix Delep</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">15,95€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_377557.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sillage tome 20 <br> Mise à jour</h5>
              <p class="card-text">Morvan - Buchet</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">14,50€</small>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card-deck">
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_376690.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Le Serpent et la Lance</h5>
              <p class="card-text">
                Acte 1 - Ombre-montagne<br>
                Hub
              </p>
            </div>
            <div class="card-footer">
              <small class="text-muted">24,95€</small>
            </div>
          </div>
          <div class="card">
            <img src="../../../assets/images/slideshow-img/Couv_374030.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jusqu'au dernier</h5>
              <p class="card-text">Jérôme Félix et Paul Gastine</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">17,90€</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselsmall" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselsmall" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<!-- extra small slider -->

<div id="carousel-wrapper-xsmall">

  <div id="carouselxsmall" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="card">
          <img src="../../../assets/images/slideshow-img/Couv_375436.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Thorgal <br>Tome 37 : L'Ermite de Skellingar</h5>
            <p class="card-text">Yann et Fred Vignaux</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">12,45€</small>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="../../../assets/images/slideshow-img/Couv_372090.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Les 5 Terres <br>« De toutes mes forces »</h5>
            <p class="card-text">Lewelyn et Jérôme Lereculey</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">15,50€</small>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="../../../assets/images/slideshow-img/Couv_377306.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Harmony T5 <br>Dies irae</h5>
            <p class="card-text">Mathieu Reynès</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">12,50€</small>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="../../../assets/images/slideshow-img/Couv_362631.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Le patient</h5>
            <p class="card-text">Timothé Le Boucher</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">25,00€</small>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="../../../assets/images/slideshow-img/Couv_366478.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Retour sur Aldébaran<br>T2 Épisode 2</h5>
            <p class="card-text">Léo</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">13,00€</small>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="../../../assets/images/slideshow-img/Couv_370204.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Les Indes Fourbes</h5>
            <p class="card-text">Alain Ayroles et Juanjo Guarnido</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">34,90€</small>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="../../../assets/images/slideshow-img/Couv_373421.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Le Château des Animaux <br>Tome 1 : Miss Bengalore</h5>
            <p class="card-text">Xavier Dorison et Félix Delep</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">15,95€</small>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="../../../assets/images/slideshow-img/Couv_377557.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sillage tome 20 <br> Mise à jour</h5>
            <p class="card-text">Morvan - Buchet</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">14,50€</small>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="../../../assets/images/slideshow-img/Couv_376690.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Le Serpent et la Lance</h5>
            <p class="card-text">
              Acte 1 - Ombre-montagne<br>
              Hub
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">24,95€</small>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img src="../../../assets/images/slideshow-img/Couv_374030.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jusqu'au dernier</h5>
            <p class="card-text">Jérôme Félix et Paul Gastine</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">17,90€</small>
          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselsxmall" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselxsmall" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>




