<div id="myfooter-container">
  <footer class="container py-5">

    <div id="wrapper-normal-footer">
      <div class="row">
        <div class="col-3 col-md">
          <h5>À Propos</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Nos Engagements</a></li>
            <li><a class="text-muted" href="#">Nos valeurs</a></li>
            <li><a class="text-muted" href="#">Notre boutique</a></li>
            <li><a class="text-muted" href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-3 col-md">
          <h5>Besoin d'aide ?</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">FAQ</a></li>
            <li><a class="text-muted" href="#">Livraison</a></li>
            <li><a class="text-muted" href="#">Retours</a></li>
            <li><a class="text-muted" href="#">Modes de paiement</a></li>
          </ul>
        </div>
        <div class="col-3 col-md">
          <h5>Divers</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Nous contacter</a></li>
            <li><a class="text-muted" href="#">Plan du site</a></li>
          </ul>
        </div>

        <div class="col-4 col-md">
          <h5>Nous Suivre</h5>
          <ul class="list-unstyled list-group list-group-horizontal">
            <li><a><i class="fab fa-twitter-square"></i></a></li>
            <li><a><i class="fab fa-facebook-square"></i></a></li>
          </ul>
          <h5>Inscription à la newsletter</h5>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Entrez un email" aria-label="Newslettersignup"
              aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Valider</button>
            </div>
          </div>
        </div>
      </div>

      <p class="bottom-footer">
        Le Raton Liseur &copy; 2020 | Tous droits réservés &middot; <a href="#" class="text-decoration-none">Conditions
          Générales de vente</a> &middot; <a href="#" class="text-decoration-none">Politique de confidentialité</a>
        &middot;
        <a href="#" class="text-decoration-none">Politique d'utilisation des cookies</a>
      </p>

      <p class="float-right"><a href="#" class="text-decoration-none">Retour au début</a></p>
    </div>


    <!-- mobile footer -->
    <div id="wrapper-mobile-footer">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                À Propos
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Nos Engagements</a></li>
                <li><a class="text-muted" href="#">Nos valeurs</a></li>
                <li><a class="text-muted" href="#">Notre boutique</a></li>
                <li><a class="text-muted" href="#">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Besoin d'aide ?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">FAQ</a></li>
                <li><a class="text-muted" href="#">Livraison</a></li>
                <li><a class="text-muted" href="#">Retours</a></li>
                <li><a class="text-muted" href="#">Modes de paiement</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                Divers
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Nous contacter</a></li>
                <li><a class="text-muted" href="#">Plan du site</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">
                Nous Suivre
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              <ul class="list-unstyled list-group list-group-horizontal">
                <li><a><i class="fab fa-twitter-square"></i></a></li>
                <li><a><i class="fab fa-facebook-square"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
                aria-expanded="false" aria-controls="collapseFive">
                Inscription à la newsletter
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Entrez un email" aria-label="Newslettersignup"
                  aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Valider</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <p class="bottom-footer">
        Le Raton Liseur &copy; 2020 | Tous droits réservés &middot; <a href="#" class="text-decoration-none">Conditions
          Générales de vente</a> &middot; <a href="#" class="text-decoration-none">Politique de confidentialité</a>
        &middot;
        <a href="#" class="text-decoration-none">Politique d'utilisation des cookies</a>
      </p>
      <p class="float-right"><a href="#" class="text-decoration-none">Retour au début</a></p>
    </div>


  </footer>
</div>
