<div class="jumbotron brown-background normal-layout">
  <div class="media">
    <img src="./../../../assets/images/other-images/gaston-m-enfin.jpg" class="mr-3" alt="...">
    <div class="media-body beige-text">
      <h1 class="display-5">Vous vous êtes perdus en chemin ?</h1>
      <p class="lead">Nous ne trouvons pas la page que vous cherchez...</p>
      <p class="lead">Veuillez vérifiez votre lien ou retournez à la page d'accueil</p>
      <a class="btn btn-primary btn-lg" href="#" role="button" routerLinkActive="active" routerLink="/">Retour à la page
        d'accueil</a>
    </div>
  </div>
</div>

<div class="jumbotron brown-background mobile-layout">
    <img src="./../../../assets/images/other-images/gaston-m-enfin.jpg" class="mr-3" alt="...">
    <div class="media-body beige-text">
      <h1 class="display-5">Vous vous êtes perdus en chemin ?</h1>
      <p class="lead">Nous ne trouvons pas la page que vous cherchez...</p>
      <p class="lead">Veuillez vérifiez votre lien ou retournez à la page d'accueil</p>
      <a class="btn btn-primary btn-lg" href="#" role="button" routerLinkActive="active" routerLink="/">Retour à la page
        d'accueil</a>
    </div>
</div>


<router-outlet></router-outlet>
