<section id="carouselCaptions" class="carousel slide" data-ride="carousel" data-wrap="false">
  <ol class="carousel-indicators">
    <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselCaptions" data-slide-to="1"></li>
    <li data-target="#carouselCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/images/bookstore-img/new-releases.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block blue-text">
        <h4 class="slideshow-title">Rentrée BD 2020</h4>
        <p>Les meilleures BD de cette rentrée</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/bookstore-img/angouleme-banner.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block blue-text">
        <h4 class="slideshow-title">Angoulême 2020</h4>
        <p>Toute la sélection du festival</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/images/bookstore-img/librarians-picks.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block blue-text">
        <h4 class="slideshow-title">Sélection des libraires</h4>
        <p>Les coups de coeur de notre équipe</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</section>

<div class="brown-background">
  <div class="normal-layout">
    <h3 class="text-center home-titles">Nos catégories</h3>
    <section class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imgscifi">
              <h5 class="card-title cat-banner">
                <a class="dark-brown-font text-decoration-none" href="#">Science-fiction</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imgfantastique">
                <h5 class="card-title cat-banner">
                  <a class="dark-brown-font text-decoration-none" href="#">Fantastique</a>
                </h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imgwestern">
              <h5 class="card-title cat-banner">
                <a class="dark-brown-font text-decoration-none" href="#">Western</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imgpolar">
              <h5 class="card-title cat-banner">
                <a class="dark-brown-font text-decoration-none" href="#">Polar</a>
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imghistoire">
              <h5 class="card-title cat-banner">
                <a class="dark-brown-font text-decoration-none" href="#">Histoire</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imghumour">
              <h5 class="card-title cat-banner">
                <a class="dark-brown-font text-decoration-none" href="#">Humour</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imgjeunesse">
              <h5 class="card-title cat-banner">
                <a class="dark-brown-font text-decoration-none" href="#">Jeunesse</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imgdoc">
              <h5 class="card-title cat-banner">
                <a class="dark-brown-font text-decoration-none" href="#">Documentaire</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imgjromangraph">
              <h5 class="card-title cat-banner">
                <a class="dark-brown-font text-decoration-none" href="#">Roman Graphique</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imgcomics">
              <h5 class="card-title cat-banner">
                <a class="dark-brown-font text-decoration-none" href="#">Comics</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imgmangas">
              <h5 class="card-title cat-banner">
                <a class="dark-brown-font text-decoration-none" href="#">Mangas</a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card cat-card">
            <div class="card-body imginde">
              <h5 class="card-title cat-banner">
                <a class="dark-brown-font text-decoration-none" href="#">Indépendants</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="mobile-layout">


    <ul class="list-group">
      <li class="list-group-item disabled brown-background" aria-disabled="true">
        <a class="beige-text" href="#">Science-Fiction</a>
      </li>
      <li class="list-group-item brown-background">
        <a class="beige-text" href="#">Fantastique</a>
      </li>
      <li class="list-group-item brown-background">
        <a class="beige-text" href="#">Western</a>
      </li>
      <li class="list-group-item brown-background">
        <a class="beige-text" href="#">Polar</a>
      </li>
      <li class="list-group-item brown-background">
        <a class="beige-text" href="#">Histoire</a>
      </li>
      <li class="list-group-item brown-background">
        <a class="beige-text" href="#">Humour</a>
      </li>
      <li class="list-group-item brown-background">
        <a class="beige-text" href="#">Jeunesse</a>
      </li>
      <li class="list-group-item brown-background">
        <a class="beige-text" href="#">Documentaire</a>
      </li>
      <li class="list-group-item brown-background">
        <a class="beige-text" href="#">Roman Graphique</a>
      </li>
      <li class="list-group-item brown-background">
        <a class="beige-text" href="#">Comics</a>
      </li>
      <li class="list-group-item brown-background">
        <a class="beige-text" href="#">Mangas</a>
      </li>
      <li class="list-group-item brown-background">
        <a class="beige-text" href="#">Indépendants</a>
      </li>
    </ul>
  </section>

  <section>
    <h3 class="text-center home-titles">Nos meilleures ventes</h3>
    <app-carousel></app-carousel>
  </section>

  <section id="section-aboutus">
    <h3 class="text-center home-titles">La petite histoire...</h3>
    <div id="aboutus-wrapper">
      <div id="aboutus-img"><img src="./../../../assets/images/bookstore-img/librairie2.jpg" alt="img-bookshop"></div>
      <div id="aboutus-text">
        <h4>Qui sommes nous ?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </section>

</div>

<app-footer></app-footer>
